@charset "UTF-8";

body {
    margin: 0;
    font-family: sans-serif;
    color: hsl(0, 0%, 25%);
}

#basil-header {
    background: hsl(76, 35%, 75%);
    color: hsl(76, 35%, 95%);
    padding: 0.5em;
    line-height: 1.4em;
    text-shadow: 1px 1px 6px hsl(76, 35%, 60%);
    overflow: hidden;
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    transition: background 200ms;
}

#basil-header.is-running {
    background: hsl(0, 0%, 85%);
    text-shadow: 1px 1px 6px hsl(0, 0%, 60%);
}

#basil-header.is-failed {
    background: hsl(0, 65%, 75%);
    color: hsl(76, 35%, 95%);
    padding: 0.5em;
    text-shadow: 1px 1px 6px hsl(0, 35%, 60%);
}

#basil-header input {
    border: none;
    box-shadow: 1px 1px 6px hsl(76, 35%, 60%);
}

#basil-header.is-failed input {
    box-shadow: 1px 1px 6px hsl(0, 35%, 60%);
}

.basil-header-section {
    display: inline-block;
    margin-right: 1em;
}

#basil-title {
    font-size: 2em;
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

#basil-results {
    padding: 1em 1.5em;
}

#basil-results ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

#basil-results li {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

/* Icons */
.basil-icon,
.basil-icon[class^="icon-"],
.basil-icon[class*=" icon-"]
{
    display: inline-block;
    width: 1em;
    text-align: center;
}

.basil-header-button {
    cursor: pointer;
}

.basil-header-button > .basil-icon {
    font-size: 14px;
    position: relative;
    top: -1px;
    margin-right: 0.2em;
}

.basil-header-button:hover > .basil-icon {
    color: hsl(200, 50%, 91%);
}

button.basil-icon {
    padding: 0;
    background: transparent;
    color: inherit;
    border: none;
}

.basil-button {
    opacity: 0.2;
    cursor: pointer;
}

.basil-button:hover {
    opacity: 1;
    color: hsl(200, 80%, 40%);
}

/* Leaves */
.basil-leaf {
    font-weight: normal;
    cursor: default;
    list-style: none;
}

/* Code */
.basil-code {
    display: none;
    font-family: Consolas, monospace;
    font-size: 0.7em;
    white-space: pre;
}

.is-basil-code-visible {
    display: block;
}

/* DOM Fixture */
#basil-temporary-dom-element {
    position: absolute;
    top: 10000px;
    left: 10000px;
    width: 10000px;
    height: 10000px;
}

/* Summary */
#basil-summary {
    float: right;
    white-space: nowrap;
    text-align: right;
    min-width: 7em;
    margin-left: 1em;
    font-size: 2em;
}

.basil-passes {
    color: forestgreen;
}

.basil-fails {
    color: firebrick;
}

/* Expand/collapse */
.basil-expand-collapse-all {
    display: inline-block;
}

.basil-expand-all,
.basil-collapse-all {
    cursor: pointer;
}

.basil-test.is-collapsed > .basil-test-group,
.is-collapsed-by-default .basil-test:not(.is-expanded) > .basil-test-group {
    display: none;
}

/* Filtering */
.basil-filter {
    width: 100%;
    max-width: 35em;
    position: relative;
}

.basil-filter > input {
    position: absolute;
    left: 3em;
    right: 0;
}

/* Passed/failed icon */
.icon-ok {
    color: hsl(76, 80%, 40%);
}
.icon-remove {
    color: hsl(0, 80%, 50%);
}

/* Hide Passed */
.basil-hide-passed {
    margin-left: -0.5em;
}

.is-hiding-passed .is-passed {
    display: none;
}

/* Font Awesome by Dave Gandy - http://fontawesome.io */
@font-face {
    font-family: 'FontAwesome';
    src: url(data:font/truetype;charset=utf-8;base64,AAEAAAAPAIAAAwBwRkZUTWVhnrMAAAD8AAAAHEdERUYAPAAEAAABGAAAACBPUy8yji94EAAAATgAAABgY21hcKOQu4sAAAGYAAABomN2dCAARAURAAADPAAAAARnYXNwAAAAEAAAA0AAAAAIZ2x5ZkOeqH8AAANIAAAFJGhlYWQDMj3LAAAIbAAAADZoaGVhDzsHVQAACKQAAAAkaG10eFLzAYUAAAjIAAAAPGxvY2EHFAiGAAAJBAAAACBtYXhwAFQAcgAACSQAAAAgbmFtZTwFZY4AAAlEAAACuHBvc3RCT0idAAAL/AAAAKd3ZWJmyTVRqQAADKQAAAAGAAAAAQAAAADMPaLPAAAAAMtUgjAAAAAAzc95swABAAAADgAAABgAAAAAAAIAAQABAA4AAQAEAAAAAgAAAAMFigGQAAUABAUyBM0AAACZBTIEzQAAAs0AZwTNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHB5cnMAQAAN8UYG2/7bAAAG2wFNAAAAAQAAAAAAAAAAAAAAIAABAAAAAwAAAAMAAAAcAAEAAAAAAJwAAwABAAAAHAAEAIAAAAAcABAAAwAMAAAADQAg4ADwDfB18JDwsPDX8Nrw/vEh8Ub//wAAAAAADQAg4ADwDPB18JDwsPDX8Nrw/vEh8Ub//wAB//X/4yAED/kPkg94D1kPMw8xDw4O7A7IAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABBgAAAQAAAAAAAAABAgAAAAIAAAAAAAAAAAAAAAAAAAABAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEQFEQABAAH//wAPAAIARAAAAmQFVQADAAcALrEBAC88sgcEAO0ysQYF3DyyAwIA7TIAsQMALzyyBQQA7TKyBwYB/DyyAQIA7TIzESERJSERIUQCIP4kAZj+aAVV+qtEBM0AAAABAAAAAAAAAAAAAwAAOQMAAQCKABAHdgVeABYAAAAUBwEHBiIvAQEmND8BNjIXCQE2Mh8BB3Yg/MSbIFwgm/5iICCcIFsgAVAC7iBbIJwEglsg/MSbICCbAZ4gXCCbICD+rwLvICCcAAEAfv/rBcsFOQAjAAAAFA8BBiInCQEGIi8BJjQ3CQEmND8BNjIXCQE2Mh8BFhQHCQEFyyCbIFsg/rD+sCBcIJsgIAFQ/rAgIJsgXCABUAFQIFsgmyAg/rABUAEiWyCcICABUP6wICCcIFsgAVABUCBcIJsgIP6wAVAgIJsgXCD+sP6wAAEAAP7bCAAFtwAmAAAAEAAEISInBgUGBwYmJzUmNiY+Ajc+BTcmAjU0EiwBMyAECAD+7v4p/ulQVuL+1ThLEx8FAwYBCwIOAgg3GC8bIwyzz6IBEwF70AEXAdcDov5z/q7DCchMEAoCGRUBBRIEEgMQAgk9GkA1Ui5mASurlQEPxHTEAAIAAAAABtsFtwAXAEAAAAAUBwEGLgE1ESEiJjURNDYzIRE0NjIXCQERFAYjISImNTQmPgIzITI2NRE0JiMhKgIuAzU0Jj4CMyEyFgVJFv2TFjss/gAeKyseAgAsOxYCbQGowYj+kw8WAgEGEQ8BbUtsa0z+twEXBxMHCwUCAQYRDwFtiMEC+TsW/ZIWASseAUkrHgG3HisBSR4rFf2SAV/824jBFg8FJBgdD2xLAyVLbAIECA0JBSQYHg/BAAAAAAEABv9uBkMFtwAVAAABFgcBERQHBiciJwEmNREBJjc2MyEyBkMTI/3NLQ8NHxX+3Bb9zSMTEzAFtzAFii8h/c38sDAUBgEVASUWHQIsAjMhLy0AAAEAAAFtBJIEAAANAAAAFAcBBiYnASY0NjMhMgSSFf4AFjwV/gAWKx4EAB4D1TwW/gAWARUCABY8KwAAAAEAAACSApIFJQANAAAAFAcBBiImNRE0NjIXAQKSFf4AFjwrKzwWAgAC+TsW/gAWLB0EAB4sFv4AAAAAAAIAAP9uBtsGSQAjADMAAAE1NCYjIRE0JisBIgYVESEiBh0BFBYzIREUFjsBMjY1ESEyNgERFAYjISImNRE0NjMhMhYFtywd/pIrHpIeLP6THisrHgFtLB6SHisBbh4rASTBiPu3iMHBiARJiMECkpMeKwFtHiwsHv6TLB2THiv+kh4rLB0BbisCjPu3iMHBiARJiMHBAAAAAwAz/4MIXgWhABQAJAA5AAAlBwYiJwEuATcBPgEfAR4BBwkBFhQJAQ4BLwEuATcBPgEfAR4BCQEGIi8BJjQ3CQEmND8BPgEXARYUAsE5Cx4M/ewLAQwCFAsfCzkLAQz+PwHBCwKZ/lUFGg1HDw8FAaoFGg5GDxAC6f3sCx4MOQsLAcH+PwsLOQseDAIUC506CwsCFQseDAIUCwEMOQseDP4//j8LHgS4+j0PDwQUBRoPBcMPDwUTBRr9Cf3rCws6Cx4LAcEBwQsfCzkLAQz97AsfAAACAAD/bgbbBkkADwAfAAABNTQmIyEiBh0BFBYzITI2AREUBiMhIiY1ETQ2MyEyFgW3LB38AB4rKx4EAB4rASTBiPu3iMHBiARJiMECkpMeKywdkx4rKwKM+7eIwcGIBEmIwcEAAQAAAAMAQralwldfDzz1AB8IAAAAAADNz3m0AAAAAM3PebQAAP7bCF4GSQAAAAgAAgAAAAAAAAABAAAG2/6zAAAIkgAAAAAIXgABAAAAAAAAAAAAAAAAAAAADwLsAEQIAAAAAqoAAAIAAAACOwAACAAAigZJAH4IAAAABtsAAAZJAAYEkgAAAtsAAAbbAAAIkgAzBtsAAAAAACwALAAsACwANABgAKIA5AFEAW4BjAGqAfYCYAKSAAEAAAAPAEEAAwAAAAAAAgAAAAEAAQAAAEAALgAAAAAAAAANAKIAAwABBAkAAAAyAAAAAwABBAkAAQAWADIAAwABBAkAAgAOAEgAAwABBAkAAwAiAFYAAwABBAkABAAmAHgAAwABBAkABQAkAJ4AAwABBAkABgAWAMIAAwABBAkABwCiANgAAwABBAkACAAYAXoAAwABBAkACQAUAZIAAwABBAkACwAqAaYAAwABBAkAyAAWAdAAAwABBAkAyQAwAeYAUwBJAEwAIABPAHAAZQBuACAARgBvAG4AdAAgAEwAaQBjAGUAbgBzAGUAIAAxAC4AMQBGAG8AbgB0AEEAdwBlAHMAbwBtAGUAUgBlAGcAdQBsAGEAcgBGAE8ATgBUAEwAQQBCADoATwBUAEYARQBYAFAATwBSAFQARgBvAG4AdABBAHcAZQBzAG8AbQBlACAAUgBlAGcAdQBsAGEAcgBWAGUAcgBzAGkAbwBuACAAMwAuADEALgAwACAAMgAwADEAMwBGAG8AbgB0AEEAdwBlAHMAbwBtAGUAUABsAGUAYQBzAGUAIAByAGUAZgBlAHIAIAB0AG8AIAB0AGgAZQAgAEMAbwBwAHkAcgBpAGcAaAB0ACAAcwBlAGMAdABpAG8AbgAgAGYAbwByACAAdABoAGUAIABmAG8AbgB0ACAAdAByAGEAZABlAG0AYQByAGsAIABhAHQAdAByAGkAYgB1AHQAaQBvAG4AIABuAG8AdABpAGMAZQBzAC4ARgBvAHIAdAAgAEEAdwBlAHMAbwBtAGUARABhAHYAZQAgAEcAYQBuAGQAeQBoAHQAdABwADoALwAvAGYAbwBuAHQAYQB3AGUAcwBvAG0AZQAuAGkAbwBXAGUAYgBmAG8AbgB0ACAAMQAuADAAUwBhAHQAIABKAHUAbgAgACAAMQAgADAANgA6ADEAMwA6ADAAOAAgADIAMAAxADMAAgAAAAAAAP9nAGYAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAABAgEDAAMBBAEFAQYBBwEIAQkBCgELAQwBDQEOBmdseXBoMQd1bmkwMDBEB3VuaUUwMDAHdW5pRjAwQwd1bmlGMDBEB3VuaUYwNzUHdW5pRjA5MAd1bmlGMEIwB3VuaUYwRDcHdW5pRjBEQQd1bmlGMEZFB3VuaUYxMjEHdW5pRjE0NgAAAVGpyTQAAA==) format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
.icon-ok:before { content: "\f00c"; }
.icon-remove:before { content: "\f00d"; }
.icon-caret-down:before { content: "\f0d7"; }
.icon-caret-right:before { content: "\f0da"; }
.icon-filter:before { content: "\f0b0"; }
.icon-signin:before { content: "\f090"; }
.icon-code:before { content: "\f121"; }
.icon-plus-sign-alt:before { content: "\f0fe"; }
.icon-minus-sign-alt:before { content: "\f146"; }
.icon-comment:before { content: "\f075"; }