@charset "UTF-8";

body {
    margin: 0;
    font-family: sans-serif;
    color: hsl(0, 0%, 25%);
}

#basil-header {
    background: hsl(76, 35%, 75%);
    color: hsl(76, 35%, 95%);
    padding: 0.5em;
    text-shadow: 1px 1px 6px hsl(76, 35%, 60%);
}

#basil-header.is-failed {
    background: hsl(0, 65%, 75%);
    color: hsl(76, 35%, 95%);
    padding: 0.5em;
    text-shadow: 1px 1px 6px hsl(0, 35%, 60%);
}

#basil-header input {
    border: none;
    background: white;
    box-shadow: 1px 1px 6px hsl(76, 35%, 60%);
}

#basil-header.is-failed input {
    box-shadow: 1px 1px 6px hsl(0, 35%, 60%);
}

#basil-header input[type="checkbox"] {
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    -webkit-appearance: none;
}

#basil-header input[type="checkbox"]:checked:before {
    content: '✔';
    position: relative;
    top: -0.1em;
    color: hsl(76, 35%, 50%);
}

#basil-title {
    font-size: 2em;
    color: white;
    text-decoration: none;
    display: block;
}

#basil-results {
    padding: 1em 1.5em;
}

#basil-results ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

#basil-results li {
    padding-left: 0;
    margin-left: 0;
}

.is-hiding-passed .is-passed {
    display: none;
}

/* Parents */
.basil-parent {
    font-weight: bold;
    list-style-image: url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAINjI95wN3hnolJVoVzKAA7);
}

.basil-parent.is-collapsed {
    list-style-image: url(data:image/gif;base64,R0lGODlhCQAJAPcBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAggAAME+CewYMF/BA0KRJjQIMOGCx86ZKiQYkWIBxUGCAgAOw==);
}

.basil-parent.is-collapsed > ul {
    display: none;
}

/* Leaves */
.basil-leaf {
    font-weight: normal;
    cursor: default;
    list-style: none;
}

/* Links */
.basil-parent {
    cursor: pointer;
}
.basil-test-apply-filter {
    cursor: pointer;
    opacity: 0.2;
}
.basil-test-apply-filter:hover {
    opacity: 1;
    color: hsl(200, 80%, 40%);
}

/* Test state */
.is-passed:before {
    content: '✓ ';
    color: hsl(76, 80%, 40%);
}

li.is-failed:before {
    content: '✗ ';
    color: hsl(0, 80%, 50%);
}

.is-not-run:before {
    content: '∅ ';
}

.basil-inspect {
    text-decoration: none;
    font-size: small;
}

/* Code */
.toggle-fail-code {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
}

.toggle-fail-code:before {
    font-weight: bold;
    content: '›';
    width: 1em;
    height: 0.7em;
}

.toggle-fail-code:checked:before {
    content: '⌵';
}

.fail-code {
    font-family: Consolas, monospace;
    white-space: pre;
    display: none;
    font-size: 0.7em;
}

.toggle-fail-code:checked ~ .fail-code {
    display: block;
}

/* Summary */
#basil-summary {
    white-space: pre;
    position: absolute;
    font-family: monospace;
    right: 10px;
}

#basil-summary ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#basil-summary li {
    display: inline-block;
    height: 1em;
}

/* Input */
#basil-filter {
    width: 40em;
    padding-left: 0.3em;
}